*{
    padding: 0px;
    margin: 0px;
    user-select: none;
} 

body{
    display: flex;
    min-height: 100vh;
    font-family: 'Lexend Deca', sans-serif;
    background-image: url('../images/Service-providerlist-background.svg');
    background-repeat: no-repeat;
    justify-content: center;
    background-position: middle  ;
    
}

/*header- start*/ 


.navbar{
    position: absolute;
    width: 95%;
    height: 100px;
    top: 20px;
    background: rgba(255, 255, 255, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.62);
    box-sizing: border-box;
    box-shadow: 0px 0px 36px -15px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-links{
    position: relative;
    margin-left: 30%;

}

.link{
    margin: 0 20px 0 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}


/*header- end*/ 

.service-name{
    position: absolute;
    margin-top: 10%;
}



.filter{
    position: absolute;
    width: 25%;
    height: 90%;
    margin: 20% 80% 0 0;
    background: rgba(244, 243, 243, 0.5);
    border: 8px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(35px);
    border-radius: 0 20px 20px 0;
}


.service-provider-container{
    position: absolute;
    width: 70%;
    height: auto;
    margin: 20% 0% 0 25%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.service-provider{
    position: relative;
    width: 100%;
    height: 350px;
    margin-bottom: 30px;
    background: rgba(244, 243, 243, 0.5);
    border: 8px solid #FFFFFF;
    box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(35px);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 40% 60%;
  
}

.service-provider-details{
    margin: 0;
}

.rectangle{
    position: relative;
    padding: 20px;
    width: 85%;
    margin: 20px;
    background: #FFFFFF;
    border-radius: 20px;
}

.text{
    font-weight: bold;
}

.Min-charge{
    position: relative;
    display:flex ;
    justify-content: right;
    margin: 10%;
    flex-direction: column;
}

.get-service{
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 30%;
    margin-top: 4%;
    margin-left: 35%;
    border: 4px solid #000000;
    box-sizing: border-box;
    border-radius: 44px;
    background: #FFFFFF;
    font-weight: bold;
}

.star-container{
    position: relative;
    padding: 5px;
    font-size: 30px;
    width: 85%;
    margin-top: 13.5%;
    background: #FFFFFF;
    border-radius: 20px;
    text-align: center;
}

.checked{
    color: orange;
    font-size: 40px;
    
}

.rating-text{
    font-size: 20px;
}

.review{
    font-size: 20px;
    margin-left: 20%;
    color: #000000;
}


/* Footer */


.fot_background{
    position: absolute;
    top: 3350px;
}

.footer{
    position: absolute;
    width: 80%;
    height: 400px;
    background-color: #000000;
    border-radius: 20px;
    top: 3500px;
    background: rgba(255, 255, 255, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.62);
    box-sizing: border-box;
    box-shadow: 0px 0px 36px -15px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.fot-links{
    position: absolute;
    margin: 20px;
}

.input-btn{
    position: relative;
    display: inline-flex;
}

input.email{
    width: 285px;
    height: 40px;
    background: #ffffff;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    color: #000000;
    padding: 10px;
    font-weight: bold;
    margin: 0 20px;
}

.subscribe{
    cursor: pointer;
    width: 100px;
    height: 40px;
    background: #000000;
    box-sizing: border-box;
    border-radius: 10px;
    color: #ffffff;
    padding: 10px;
    font-weight: bold;
}

hr.line1{
    position: absolute;
    margin: 75px 3%;
    width: 93%;
    border: 1px solid black;
    border-radius: 20px;
}

.service-list{
    display: grid;
}
.heading1{
    position: absolute;
    top: 25%;
    margin-left: 3%;
    font-weight: bold;
}

.cityname1{
    font-size: large;
    display: grid;
    grid-template-columns: 15% 15% 15% 15%;
    grid-gap: 10px;
    margin: 12% 3%;
}
hr.line2{
    position: absolute;
    margin-left: 3%;
    top: 60%;
    width: 60%;
    border: 1px solid rgb(0, 0, 0,0.6);
    border-radius: 20px;
}
.heading2{
    position: absolute;
    top: 65%;
    margin-left: 3%;
    font-weight: bold;
}

.cityname2{
    font-size: large;
    display: grid;
    grid-template-columns: 15% 15% 15% 15%;
    grid-gap: 10px;
    margin: -5% 3%;
}

.social-icon{
    position: absolute;
    display: inline-flex;
    margin-left: 70%;
    bottom: 55%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius:50%;
    background:rgba(0, 0, 0, 0.7);
    margin: 0 10px;
}
  
.fa-instagram, .fa-twitter, .fa-facebook, .fa-linkedin {
    color: white;
}

.fa:hover {
    opacity: 0.7;
}

.app-icon{
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    margin-left: 72%;
    bottom: 2.5%;
}

.app-btn{
    margin: 5px;
}

.app-btn:hover {
    opacity: 0.9;
}
