*{
    padding: 0px;
    margin: 0px;
    user-select: none;
    /* outline: 1px solid black; */
}  
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend Deca', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1100px;
}

.mainContainer{
  width: 1050px;
  height: 1050px;  
  display: flex;
  justify-content: flex-start;
  align-items: left;
  flex-direction: column;
  position: absolute; 
  background-color: #faf3f39c;
  backdrop-filter: blur(5px);
  border-radius: 25px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.text{
    margin: 45px 0 0 40px;
}
.bigText{
    font-size: 40px;
    line-height: 50px;
}


.inputs{
    padding: 10px 0 10px 0;
}


/* input.email,.password,.Name,.Number{
    border: 3px solid white;
    border-radius: 10px;
    background: transparent;
    width: 300px;
    height: 35px;
    padding-left: 10px;
    font-weight: bold;
    color: #613B58;
    margin: 20px 0 0 40px;
}


input:focus{
    outline-style: none;
} */


input::placeholder, textarea::placeholder{
    font-weight: bold;
    color: #613B58;
}
input,textarea,select {
    border: none;
    border-radius: 10px;
    background: white;
    width: 300px;
    height: 35px;
    padding-left: 10px;
    font-weight: bold;
    color: #613B58;
    margin: 20px 0 0 40px;
    /* outline: 3px solid transparent; */
    outline-width: 3px;
}


input:hover, textarea:hover, select:hover {
    outline-color: black
}


input:focus:required:invalid, textarea:focus:required:invalid, select:focus:required:invalid {
    outline-color: red;
}

textarea {
    resize: none;
    height: 200px;
}

button.signup{
    background-color: #f74c55;
    border-style: none;
    border-radius: 7px;
    color: white;
    padding: 10px 130px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0 0 40px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.signup:hover {
    background-color: #ce3038;
}


hr{
    background-color: white;
    color: white;
    height: 3px;
    border-style: none;
    border-radius: 16px;
    width: 90px;
    margin: 20px 0 0 40px;
    padding: 0 110px;
}

.socialIcons{
    
    margin-top: 20px;
    margin-left: 35px;

}
button.socialLogos{
    background-color: white;
    border-style: none;
    border-radius: 7px;
    height: 40px;
    width: 60px;
    margin: 10px 10px;
    cursor: pointer;
    transition: all 0.3s;
}

button.socialLogos:hover{
    background-color: #f74c55;
}



.bottomText{
    font-size: 12px;
    font-weight: bold;
    padding: 20px;
    margin: 0 0 0 40px;
}

.login{
    color: #7B37A6;
    font-size: 11px;
    margin-top: -16px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
}

.square {
    position: absolute;
    height: 550px;  
    width: 500px;
    background: transparent;
    margin: 100px 0 100px 500px;
    border-radius: 25px;
    z-index: 1;
}

.Rocket{
    position: relative;
    height: 550px;
    width: 700px;
    margin-left: -150px;
  }
 

 button.login {
    background-color: #f74c55;
    border-style: none;
    border-radius: 7px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100px;
 }

 button.login:hover {
    background-color: #ce3038;
 }


.errormessage {
    padding: 0 0 0 40px;
}

 

